
.container1
{
    text-align: center;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
body
{
    background-color:black;
    color: azure;
}


.card
{
    
    margin-top:200px;
    margin-left: 100px;
    margin-right: 50px;
    width:300px;
    height:500px;
    border:px solid white;
    background-image: radial-gradient(circle at top center, rgb(243, 177, 46),rgb(230, 153, 36),rgb(217, 129, 26),rgb(204, 104, 15),rgb(191, 80, 5));
    text-align: center;
    border-radius: 10px;
}

.card-header
{
    font-weight:bold ;
    color:white ;
    background-color:darkolivegreen;
    padding: 10px;
    text-align: center;
    

}

.card-img-top
{
    width:200px;
    height:200px;
    margin:10px;
   
    
    

}

.card-body
{
    text-align: center;
    
    
}

.btn
{
    background-color: blue;
    border-color:darkseagreen;
   
    
}
